<ul class="hidden md:flex items-center navbar-center gap-4">
	<li>
		<a href="/home" aria-current="<%= active=='home' ? 'page' : 'false' %>" class="focus:outline-none h-full flex items-center justify-between pb-2 gap-2 border-b-2 focus:border-accent hover:border-secondary mx-4 <%= active=='home' ? 'border-accent' : 'border-transparent' %>">
			<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
				<path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd" />
			  </svg>			  
			Home
		</a>
	</li>
	<%if( user.educator ){%>
	<li>
		<a href="/teacher" aria-current="<%= active=='teacher-panel' ? 'page' : 'false' %>" class="focus:outline-none h-full flex items-center justify-between pb-2 gap-2 border-b-2 focus:border-accent hover:border-secondary mx-4 <%= active=='teacher-panel' ? 'border-accent' : 'border-transparent' %>">
			<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
				<path d="M10.75 16.82A7.462 7.462 0 0115 15.5c.71 0 1.396.098 2.046.282A.75.75 0 0018 15.06v-11a.75.75 0 00-.546-.721A9.006 9.006 0 0015 3a8.963 8.963 0 00-4.25 1.065V16.82zM9.25 4.065A8.963 8.963 0 005 3c-.85 0-1.673.118-2.454.339A.75.75 0 002 4.06v11a.75.75 0 00.954.721A7.506 7.506 0 015 15.5c1.579 0 3.042.487 4.25 1.32V4.065z" />
			  </svg>
			Teacher Panel
		</a>
	</li>
	<% } %>
	<li>
		<a href="/user/profile" aria-current="<%= active=='profile' ? 'page' : 'false' %>" class="focus:outline-none h-full flex items-center justify-between pb-2 gap-2 border-b-2 focus:border-accent hover:border-secondary  mx-4 <%= active=='profile' ? 'border-accent' : 'border-transparent' %>">
			<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
				<path d="M10 8a3 3 0 100-6 3 3 0 000 6zM3.465 14.493a1.23 1.23 0 00.41 1.412A9.957 9.957 0 0010 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 00-13.074.003z" />
			  </svg>						
			User profile
		</a>
	</li>
	<li>
		<a href="/logout" class="focus:outline-none h-full flex items-center justify-between pb-2 gap-2 border-b-2 focus:border-accent hover:border-secondary  mx-4 border-transparent">
			<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
				<path fill-rule="evenodd" d="M3 4.25A2.25 2.25 0 015.25 2h5.5A2.25 2.25 0 0113 4.25v2a.75.75 0 01-1.5 0v-2a.75.75 0 00-.75-.75h-5.5a.75.75 0 00-.75.75v11.5c0 .414.336.75.75.75h5.5a.75.75 0 00.75-.75v-2a.75.75 0 011.5 0v2A2.25 2.25 0 0110.75 18h-5.5A2.25 2.25 0 013 15.75V4.25z" clip-rule="evenodd" />
				<path fill-rule="evenodd" d="M19 10a.75.75 0 00-.75-.75H8.704l1.048-.943a.75.75 0 10-1.004-1.114l-2.5 2.25a.75.75 0 000 1.114l2.5 2.25a.75.75 0 101.004-1.114l-1.048-.943h9.546A.75.75 0 0019 10z" clip-rule="evenodd" />
			  </svg>			   
			Log out
		</a>
	</li>
</ul>

	<div class="flex justify-between">
		<button aria-label="Menu" class="btn btn-ghost md:hidden" id="navbar-toggle"
		data-modal-trigger="" aria-controls="navbar-mobile" aria-expanded="false">
		Menu
		<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="ml-2 inline-block w-5 h-5 stroke-current pointer-events-none"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
		</button>

		<div class="pointer-events-auto md:hidden not-prose">
			<div id="navbar-mobile" aria-labelledby="modalmenu-title" data-modal-target="" class="absolute inset-0 overflow-hidden hidden" aria-modal="true">
					<div data-modal-overlay="" data-modal-close="" tabindex="-1" data-class-in="opacity-50" data-class-out="opacity-0" class="fixed inset-0 w-full z-40 transition-opacity duration-500 bg-black select-none opacity-50"></div>
				<div data-modal-wrapper="" data-class-in="translate-x-0" data-class-out="-translate-x-full" class="prose fixed top-0 left-0 bottom-0 w-10/12 h-full max-w-md z-50 overflow-auto scrolling-touch transition-transform duration-500 bg-neutral text-neutral-content flex flex-col shadow-xl transform translate-x-0">
					<div class="flex items-center justify-between border-b border-neutral-content/10 p-6">
						<div class="flex items-center gap-4">
							<img aria-hidden="true" alt="profile-pic" src="<%=user.profile%>" class="w-8 h-8 rounded-full">
							<h3 id="navbar-mobile" class="text-2xl font-bold tracking-tight"><%=user.userName%></h3>
						</div>
						<button aria-label="Close" data-modal-close="" class="btn btn-square btn-sm">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
						</button>
					</div>

				<nav class="relative h-full flex-grow overflow-x-hidden overflow-y-auto p-6">
					<ul class="divide-y">
						<li class="border-neutral-content/10">
							<a href="/home" class="cursor-pointer flex flex-row items-center justify-between py-4" <%= active=="home" ? 'aria-current="page"' : '' %>>
								Home
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
								  </svg>								  
							</a>
						</li>
						<%if( user.educator ){%>
						<li class="border-neutral-content/10">
							<a href="/teacher" class="cursor-pointer flex flex-row items-center justify-between py-4" <%= active=="teacher-panel" ? 'aria-current="page"' : '' %>>
								Teacher Panel
								<svg aria-hidden="true" role="presentation" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
									stroke-width="1.5" stroke="currentColor" class="w-6 h-6 md:w-8 md:h-8">
									<path stroke-linecap="round" stroke-linejoin="round"
										d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
								</svg>
							</a>
						</li>
						<% } %>
						<li class="border-neutral-content/10">
							<a href="/user/profile" class="cursor-pointer active flex flex-row items-center justify-between py-4" <%= active=="profile" ? 'aria-current="page"' : '' %>>
								User profile
								<svg aria-hidden="true" role="presentation" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
								</svg>	
							</a>
						</li>
						<li class="border-neutral-content/10">
							<a href="/logout" class="cursor-pointer flex flex-row items-center justify-between py-4">
								<span class="font-bold">Log out</span>
								<svg aria-hidden="true" role="presentation" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
									<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
								  </svg>  
							</a>
						</li>
					</ul>	
				</nav>
				<div class="absolute bottom-0 left-0 mb-2 ml-2">
					<button aria-label="Close" data-modal-close="" type="button" class="btn">
					Close Drawer
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

