<%- include('partials/header', {navbar: "yes" , title: "Your classrooms" , active: "home" }) -%>



<div class="px-4 xl:px-0">
	<div class="mx-auto container">
		<div class="flex flex-col">
			<div class="pl-4 md:pl-10 py-4 md:py-7 rounded-tl-md rounded-tr-md shadow bg-gradient-to-r from-secondary/10 via-transparent to-secondary/10 flex justify-between gap-4 flex-wrap">
				<h1 class="sm:text-lg md:text-2xl lg:text-4xl font-bold leading-normal">Welcome, <%= user.userName %>!</h1>
			</div>
				<div class="bg-primary-content/5 rounded-b-md shadow-lg pb-8 px-2 sm:px-4 md:px-6 xl:px-10">


					<div class="stats stats-vertical md:stats-horizontal shadow mt-8 w-full border border-base-200 rounded-md">
						<div class="stat">
							<div class="stat-figure text-secondary">
								<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="inline-block w-8 h-8">
									<path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607zM10.5 7.5v6m3-3h-6" />								  
								</svg>
							</div>
							<form role="form" action="/find/" method="post" class="form-control gap-4 w-full max-w-xs">
								<label class="sr-only" for="findClassroom">Input classroom password to find a classroom you'd like to enroll</label>
								  <input id="findClassroom" name="accessName" type="text" placeholder="Password for classroom" class="input input-bordered input-sm lg:input-md w-full max-w-xs" />
								<button aria-label="Find classroom" type="submit" class="btn btn-secondary btn-outline btn-xs md:btn-sm mr-auto group"><span class="text-secondary-focus group-hover:text-secondary-content">Find class</span><span class="xs:inline md:hidden lg:inline text-secondary-focus group-hover:text-secondary-content">room</span></button>
							</form>
						  </div>

						  <% if (user.educator) {%>
							<div class="stat">
								<div class="stat-figure text-primary">
									<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="inline-block w-8 h-8">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0012 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75z" />
									</svg>
								</div>
								<div class="flex flex-col gap-4 opacity-80">
									<p>You have registered<br> as a teacher</p>
									<a aria-label="Teacher panel" href="/teacher" class="btn btn-primary btn-outline btn-xs md:btn-sm mr-auto md:text-xs lg:text-sm"><span>Teacher Panel</span></a>
								</div>
							</div>	
						<% } else { %>
						<div class="stat">
						  <div class="stat-figure text-primary">
							<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="inline-block w-8 h-8">
								<path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0012 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75z" />
							</svg>
						  </div>
							<div class="stat-title opacity-80">
							<p>Total classrooms</p>
							</div>
						  <div class="stat-value text-primary">
							3
						  </div>
						</div>
						<%}%>
						<div class="stat">
						  <div class="stat-figure text-secondary">
							<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="inline-block w-8 h-8">
								<path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
							  </svg>							  
						  </div>
						  <div class="stat-value">86%</div>
						  <div class="stat-title opacity-80">Lessons done</div>
						  <div class="stat-desc opacity-80">31 tasks remaining</div>
						</div>
					</div>

					<h2 class="text-xl font-bold pt-8">Your enrollments:</h2>

						<%if( !classrooms || !classrooms.length ){%>

							<div class="py-8 not-prose grid grid-cols-1 gap-4 lg:grid-cols-3 sm:grid-cols-2">
					
								<div class="border border-slate-400/40 card bg-base-100 shadow-xl">
									<figure class="items-stretch"><img src="https://placeimg.com/400/250/tech" class="object-cover" alt="Picture for classroom X" /></figure>
									<div class="card-body gap-4">
										<h2 class="card-title">Classroom name 2</h2>
										<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed ipsum facere deserunt placeat
											blanditiis modi sit eum officiis rerum s!
										</p>
										<div class="relative w-full">
											<label for="p03c" class="mb-2 text-xs text-right">Lesson completion status</label>
											<progress id="p03c" max="10" value="4" aria-valuetext="4 lessons out of 10 completed"
												class="w-full overflow-hidden rounded bg-base-200 [&::-webkit-progress-bar]:bg-base-200 [&::-webkit-progress-value]:bg-secondary [&::-moz-progress-bar]:bg-secondary">40%</progress>
										</div>
										<div class="card-actions justify-end">
											<a aria-label="View lessons" href="#" class="btn btn-outline btn-secondary">View Lessons</a>
										</div>
									</div>
								</div>
						
								<div class="border border-slate-400/40 card bg-base-100 shadow-xl">
									<figure class="items-stretch"><img src="https://placeimg.com/400/250/animals" alt="Picture for classroom X" class="object-cover" /></figure>
									<div class="card-body gap-4">
										<h2 class="card-title">Classroom name 3</h2>
										<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed ipsum facere deserunt placeat
											blanditiis modi sit eum officiis rerum as!
										</p>
										<div class="relative w-full">
											<label for="p04c" class="mb-1 text-xs text-right">Lesson completion status</label>
											<progress id="p04c" max="10" value="8"
											aria-valuetext="8 lessons out of 10 completed" class="w-full overflow-hidden rounded bg-base-200 [&::-webkit-progress-bar]:bg-base-200 [&::-webkit-progress-value]:bg-secondary [&::-moz-progress-bar]:bg-secondary">
												80%</progress>
										</div>
										<div class="card-actions justify-end">
											<a aria-label="View lessons" href="#" class="btn btn-outline btn-secondary">View Lessons</a>
										</div>
									</div>
								</div>
						
							</div>
						
								<% } else { %>
									<div class="py-8 not-prose grid grid-cols-1 gap-4 lg:grid-cols-3 sm:grid-cols-2">
										<% classrooms.forEach (el=> { %>
												<div class="border border-base-300 card card-compact bg-base-100 shadow-xl">
													<figure class="w-full h-32" style="background-image: linear-gradient(
														hsla(var(--p)/.3), 
														hsla(var(--s)/.3)
													  ), url(<%=el.image%>); background-size: cover; background-position: top; filter: opacity(0.8);"></figure>
													<div class="card-body gap-4">
														<h2 class="card-title"><%=el.name%></h2>
														<p><%=el.description%></p>
														<div class="relative w-full">
															<p class="block mb-1 text-xs text-right"><%=el.accessName%></p>
														</div>
														<div class="card-actions justify-end">
															<button class="btn">Buy Now</button>
															<button class="btn">
																<span class="order-2">Send message</span>
																<span aria-hidden="true" class="relative only:-mx-5">
																	<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mx-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
																		<path stroke-linecap="round" stroke-linejoin="round" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
																	</svg>
																</span>
															</button>
														</div>
													</div>
												</div>
										<% }) %>
										</div>
								<%}%>
					</div>
			</div>
		</div>
	</div>
</div>
<%- include('partials/footer') -%>