<%- include('partials/header', {navbar: "no", title: "", active:"feed" }) -%>

<div class="hero prose -mt-12">
	<div class="hero-content flex-col lg:flex-row">
		<figure class="relative aspect-[6/8] w-1/2 lg:w-auto flex-none overflow-hidden rounded-xl">
			<img alt="<%= data[0].alt_description %>" src="<%= data[0].urls.raw %>&fm=jpg&crop=edges&fit=max&w=400&h=600&q=80" decoding="async" class="object-cover rounded-lg shadow-2xlr opacity-80" width="400" height="600" loading="lazy">	
			<figcaption class="not-prose absolute lg:z-10 bottom-0 text-xs text-zinc-200 px-4 bg-zinc-800/60 w-full">
				<div>
					<p class="drop-shadow-md">Photo by 
						<a href="<%= data[0].user.links.html %>?utm_source=myPetPal&utm_medium=referral">
						<%= data[0].user.name %>
						</a> on 
						<a href="https://unsplash.com/?utm_source=myPetPal&utm_medium=referral">Unsplash</a></p>
				</div>
			</figcatpion>
		</figure>
	  <div class="ml-2">
		<h1 class="text-5xl font-bold">
			<span class="block xl:inline">Easy</span>
			<span class="block text-primary xl:inline">Classrooms</span>
		</h1>
		<p>Keep all your homework in one place and never lose track of it again when real life gets hectic.</p>
		<div class="flex gap-4">
			<a href="/login"class="btn btn-primary"> Log in</a>
			<a href="/signup" class="btn">Sign up</a>
		</div>
	  </div>
	</div>
  </div>

	<%- include('partials/footer') -%>