<%- include('partials/header', {navbar: "yes", title: "User profile", active: "profile"} ) %>

<div class="px-4 xl:px-0 mx-auto container">
	<div class="flex flex-col">
		<div class="px-4 md:px-10 py-4 md:py-7 rounded-tl-md rounded-tr-md bg-gradient-to-b from-secondary/10 flex justify-between gap-4 flex-wrap items-center">
			<h1 class="text-2xl lg:text-4xl font-bold leading-normal mt-4">
				What would you like to do today?
			</h1>
		</div>
	</div>
	<div class="bg-primary-content/5 shadow-lg pb-8 px-4 md:px-8 xl:px-10 rounded-md">
		<div class="py-8 not-prose flex flex-col md:flex-row gap-8">


	<section class="grid grid-cols-4 gap-6 md:grid-cols-8 lg:grid-cols-12">
		<div class="col-span-4 lg:col-span-5">Column 5/12</div>
		<div class="col-span-4 lg:col-span-7">Column 7/12</div>
	</section>

		</div>
	</div>
</div>

		<div class="xl:w-1/4 2xl:w-1/5 flex flex-col items-center">
			<div class="w-full flex items-center justify-center">
				<div class="flex flex-col items-center">
					<img src="<%= user.profile ? user.profile : 'https://api.lorem.space/image/face?w=50&h=50' %>" alt="Display avatar" role="img">
					<p class="mt-2 text-xs sm:text-sm md:text-base font-semibold text-center"><%= user.userName %></p>
				</div>
			</div>
			<div class="flex items-center mt-7">
				<div class="">
					<p class="text-xs">Enrolled in:</p>
					<p class="mt-2 text-base sm:text-lg md:text-xl 2xl:text-2xl"><%= classrooms > 0 ? classrooms : "no" %> classrooms</p>
				</div>
			</div>
		</div>


		<div class="mt-6 space-y-7">
			<h1>What would you like to do today?</h1>
		
			<section class="w-full rounded-lg divide-y divide-slate-200 shadow-md shadow-teal-500/40">

				<details class="p-4 group focus:ring focus-within:ring-teal-400 focus-within:ring-opacity-70">
					<summary class="[&::-webkit-details-marker]:hidden relative pr-8 font-medium list-none cursor-pointer transition">
						Change profile picture
						<svg xmlns="http://www.w3.org/2000/svg" class="absolute right-0 w-6 h-6 transition -rotate-90 duration-300 top-1 stroke-slate-700 group-open:rotate-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" aria-hidden="true">
							<path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
						</svg>
					</summary>
					<form action="/user/update/picture/?_method=PUT" class="my-8 px-3 sm:px-8 md:px-12" enctype="multipart/form-data" method="post">
						<input type="hidden" name="update" value="picture">
						<label class="block mb-2 text-sm font-medium for="user_avatar">
							Upload picture
						</label>
						<input name="file" class="block w-full text-sm bg-gray-50 rounded-lg border border-gray-300 cursor-pointer file:mr-4 file:py-2 file:px-4 file:border file:border-e file:border-gray-200file:text-base file:font-semibold file:bg-zinc-100 file:text-zinc-700 hover:file:bg-zinc-200 focus:ring focus:ring-offset-3 focus:ring-teal-400 focus:ring-opacity-70" aria-describedby="user_avatar_help" id="user_avatar" type="file" required>
					
						<div class="mt-1 text-sm" id="user_avatar_help">
							Supported file formats: JPG, JPEG, and PNG.
						</div>

						<button type="submit" class="group relative w-full flex my-6 justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md transition active:transition-none bg-zinc-800 text-zinc-100 hover:bg-zinc-700 active:bg-zinc-800 active:text-zinc-100/70 focus:outline-none focus:ring focus:ring-offset-3 focus:ring-teal-400">
							<span class="absolute right-0 inset-y-0 flex items-center pr-3">
								<!-- Heroicon name: arrow-up-tray -->
								<svg class="h-5 w-5 text-zinc-600 transition group-hover:text-zinc-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" className="w-5 h-5">
									<path d="M9.25 13.25a.75.75 0 001.5 0V4.636l2.955 3.129a.75.75 0 001.09-1.03l-4.25-4.5a.75.75 0 00-1.09 0l-4.25 4.5a.75.75 0 101.09 1.03L9.25 4.636v8.614z" />
									<path d="M3.5 12.75a.75.75 0 00-1.5 0v2.5A2.75 2.75 0 004.75 18h10.5A2.75 2.75 0 0018 15.25v-2.5a.75.75 0 00-1.5 0v2.5c0 .69-.56 1.25-1.25 1.25H4.75c-.69 0-1.25-.56-1.25-1.25v-2.5z" />
								</svg>
							</span>
							Submit new picture
						</button>
					</form>
				</details>

				<details class="p-4 group focus:outline-none focus:ring focus:ring-offset-3 focus:ring-teal-400 focus:ring-opacity-70">
					<summary class="[&::-webkit-details-marker]:hidden relative pr-8 font-medium list-none cursor-pointer transition">
						Change info and educator status
						<svg xmlns="http://www.w3.org/2000/svg" class="absolute right-0 w-6 h-6 transition -rotate-90 duration-300 top-1 stroke-slate-700 group-open:rotate-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" aria-hidden="true">
							<path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
						</svg>
					</summary>
					<div class="my-8 px-3 sm:px-8 md:px-12">
						<form action="/user/update/?_method=PUT" class="my-8 px-3 sm:px-8 md:px-12" method="post">
							<input type="hidden" name="update" value="info">
							<div class="sm:overflow-hidden">
								<div class="space-y-6">
									<!-- Form Fields -->
									<div class="col-span-6">
										<label class="block ">
											<span class="font-medium">Current name: <%= user.userName %></span> 
											<span class="block font-medium">New name:</span>
											<input type="text" name="newName" autocomplete="off"  
											class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-teal-300 focus:ring focus:ring-offset-3 focus:ring-teal-400 focus:ring-opacity-70">
										</label>
									</div>
									<div class="col-span-6">
										<label class="block">
											<span class="font-medium">Current e-mail: <%= user.email %></span> 
											<span class="block font-medium">New e-mail address:</span>
											<input type="email" inputmode="email" name="newEmail" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-teal-300 focus:ring focus:ring-offset-3 focus:ring-teal-400 focus:ring-opacity-70"/>
											</label>
									</div>
									<div class="col-span-6">
										
										<label class="block">
											<span class="font-medium">Currently registered as a <%= user.educator ? "Teacher" : "Student" %></span> 
											<span class="block font-medium">Toggle "on" to change to <%= user.educator ? 'Student' : 'Teacher' %></span>
											<input type="checkbox" class="toggle mx-4 toggle-secondary" name="educator" value="<%= user.educator ? 'false' : 'true' %>" class="checkbox checkbox-secondary"/>
											</label>
									</div>
									
									<div>
										<button type="submit" class="group relative w-full flex my-6 justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md transition active:transition-none bg-zinc-800 text-zinc-100 hover:bg-zinc-700 active:bg-zinc-800 active:text-zinc-100/70 focus:outline-none focus:ring focus:ring-offset-3 focus:ring-teal-400">
											<span class="absolute right-0 inset-y-0 flex items-center pr-3">
												<!-- Heroicon name: arrow-path -->
												<svg class="h-5 w-5 text-zinc-600 group-hover:text-zinc-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" className="w-5 h-5">
													<path fillRule="evenodd" d="M15.312 11.424a5.5 5.5 0 01-9.201 2.466l-.312-.311h2.433a.75.75 0 000-1.5H3.989a.75.75 0 00-.75.75v4.242a.75.75 0 001.5 0v-2.43l.31.31a7 7 0 0011.712-3.138.75.75 0 00-1.449-.39zm1.23-3.723a.75.75 0 00.219-.53V2.929a.75.75 0 00-1.5 0V5.36l-.31-.31A7 7 0 003.239 8.188a.75.75 0 101.448.389A5.5 5.5 0 0113.89 6.11l.311.31h-2.432a.75.75 0 000 1.5h4.243a.75.75 0 00.53-.219z" clipRule="evenodd" />
												</svg>
											</span>
											Update info
										</button>
									</div>
									<!-- / Form Fields -->
								</div>
							</div>
						</form>
					</div>
				</details>
			</section>
		</div>
	</div>
</div>

<%- include('partials/footer') -%>