<%- include('partials/header', {navbar: "yes" , title: "Teacher Panel" , active: "teacher-panel" }) -%>

 
<div class="px-4 xl:px-0">
	<div class="mx-auto container">
		<div class="flex flex-col">
			<div class="pl-4 md:pl-10 py-4 md:py-7 rounded-tl-md rounded-tr-md shadow bg-gradient-to-r from-secondary/10 via-transparent to-secondary/10 flex justify-between gap-4 flex-wrap">
				<h1 class="sm:text-lg md:text-2xl lg:text-4xl font-bold leading-normal">Teacher panel</h1>
			
				<div class="flex justify-between pr-4 md:pr-10">
					<button aria-label="Create classroom" class="btn btn-secondary" data-modal-trigger="" id="createClass-toggle" aria-controls="createClass" aria-expanded="false">
						Create classroom
						<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-2 inline-block w-5 h-5 stroke-current pointer-events-none">
							<path stroke-linecap="round" stroke-linejoin="round" d="M12 10.5v6m3-3H9m4.06-7.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
						</svg>	
					</button>

					<%- include('partials/modal-blank', {modalName: "createClass" , modalTitle: "Create classroom" , prose: "not-prose", partial: "modal-createClass", icon: "create"}) -%>
				</div>
			</div>
			<div class="bg-primary-content/5 shadow-lg pb-8 px-4 md:px-8 xl:px-10 rounded-md">
				<%if( classrooms.length ){%>
				<div class="py-8 not-prose grid grid-cols-1 gap-4 lg:grid-cols-3 sm:grid-cols-2">
				<% classrooms.forEach (el=> { %>
						<div class="border border-base-content border-opacity-20 card card-compact bg-base-100 shadow">
							<div class="w-full h-32" style="background-image: linear-gradient(
								hsla(var(--p)/.3), 
								hsla(var(--s)/.3)
							  ), url(<%=el.image%>); background-size: cover; background-position: top; filter: opacity(0.8);"></div>
							<div class="card-body gap-4">
								<h2 class="card-title"><%=el.name%></h2>
								<a aria-label="Access classroom" class="btn btn-primary btn-outline btn-sm mr-auto flex gap-2" href="/classroom/<%=el.accessName%>/view">
									<span class="order-2">Access</span>
									<span aria-hidden="true" class="-ml-1">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
											<path d="M12.232 4.232a2.5 2.5 0 013.536 3.536l-1.225 1.224a.75.75 0 001.061 1.06l1.224-1.224a4 4 0 00-5.656-5.656l-3 3a4 4 0 00.225 5.865.75.75 0 00.977-1.138 2.5 2.5 0 01-.142-3.667l3-3z" />
											<path d="M11.603 7.963a.75.75 0 00-.977 1.138 2.5 2.5 0 01.142 3.667l-3 3a2.5 2.5 0 01-3.536-3.536l1.225-1.224a.75.75 0 00-1.061-1.06l-1.224 1.224a4 4 0 105.656 5.656l3-3a4 4 0 00-.225-5.865z" />
										  </svg>										  
									</span>
								</a>
								<p><%=el.description%></p>
								<div class="relative flex flex-col border border-base-content border-opacity-20 rounded-lg" aria-label="Classroom password">
									<div class="pl-4 py-4 border border-inherit border-x-transparent border-t-transparent bg-gradient-to-b from-primary/10 to-secondary/10 flex align-middle flex-wrap gap-6 justify-between">
										<span class="text-base font-semibold self-center">
											<span class="sr-only md:not-sr-only">Classroom </span>
											Password</span>
										<button class="btn btn-square btn-ghost btn-active mr-4 clipboard-copy tooltip tooltip-accent" data-tip="Click to copy" aria-label="Click to copy" id="<%=el.accessName%>">
										<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline">
											<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75" />
										</svg>
									</button></div>
									<p class="py-6 px-4 mx-auto font-semibold"><%=el.accessName%></p>
									
								</div>
							</div>
							<a aria-label="Manage classroom" class="btn btn-ghost btn-active rounded-t-none rounded-b-2xl" href="/classroom/<%=el.accessName%>/edit">
								<span class="order-2">Manage classroom</span>
								<span aria-hidden="true" class="relative only:-mx-5">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
										<path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
									  </svg>
								</span>
							</a>
						</div>
				<% }) %>
				</div>

				<% } else { %>
					<h1 class="mt-8 sm:text-lg md:text-xl lg:text-2xl font-bold text-primary leading-normal">No classrooms found.</h1>
				<%}%>


			<div class="w-full flex justify-end mt-8">
				<button aria-label="Create classroom" class="btn btn-secondary" data-modal-trigger="" id="createClass-btoggle" aria-controls="createClass-b" aria-expanded="false">
					Create classroom
					<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ml-2 inline-block w-5 h-5 stroke-current pointer-events-none">
						<path stroke-linecap="round" stroke-linejoin="round" d="M12 10.5v6m3-3H9m4.06-7.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
					  </svg>	
				</button>

				<%- include('partials/modal-blank', {modalName: "createClass-b" , modalTitle: "Create classroom" , prose: "not-prose", partial: "modal-createClass", icon: "create"}) -%>
			</div>
			</div>
		</div>
	</div>
</div>
</div>					
					
<%- include('partials/footer') -%>